
    <div class="container-big-card">
        <div class="big-card-img">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1&ipt=6165a88874c431c60a27c8a33b62d1080e8f7f495302b2a3514dcf53389909c7&ipo=images">

            
        </div>
        <div class="big-card-title">
            <h2><a href="">Nova versão do Angular! </a></h2>
            
        </div>
        <div class="big-card-description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae culpa enim quia maxime non voluptate
 </p>
 
</div>
</div>
