.container-big-card {
    width: 37vw;
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    background-color: #121212;
    transition: all .5s;
}
.container-big-card:hover {
    background-color: #3e3e3e;
    border-radius: 10px;
    transform: scale(1.01);
}
.big-card-img>img {
    width: 100%;
    height: 200px;
  
}

.big-card-title, .big-card-description {
    margin: .625rem 0 0 .625rem;
}

.big-card-description {
    color: #999;
}