<div class="container-small-card">
    <div class="container-small-card-content">

        <div class="small-card-img">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1&ipt=6165a88874c431c60a27c8a33b62d1080e8f7f495302b2a3514dcf53389909c7&ipo=images" alt="">
        </div>
        <div class="small-card-title">
        <h2>Nova versão do Angular!</h2>
    </div>
</div>
<div class="separator">
    <hr/>
</div>
</div>
