<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<section class="container-articles">
    <div class="articles-main">
        <app-big-card
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1&ipt=6165a88874c431c60a27c8a33b62d1080e8f7f495302b2a3514dcf53389909c7&ipo=images"
            cardTitle="Novo filme na área!" cardDecription="Guardiões da Galáxia 3 é muito bom."></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1&ipt=6165a88874c431c60a27c8a33b62d1080e8f7f495302b2a3514dcf53389909c7&ipo=images"
            cardTitle="Pássaros estão dominando a cidade!"></app-small-card>
        <app-small-card
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1&ipt=6165a88874c431c60a27c8a33b62d1080e8f7f495302b2a3514dcf53389909c7&ipo=images"
            cardTitle="Cássio compra Corinthians!"></app-small-card>
        <app-small-card
            photoCover="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.F00dCf4bXxX0J-qEEf4qIQHaD6%26pid%3DApi&f=1&ipt=6165a88874c431c60a27c8a33b62d1080e8f7f495302b2a3514dcf53389909c7&ipo=images"
            cardTitle="Avenged Sevenfold lançará álbum em junho"></app-small-card>
    </div>

</section>